@font-face {
  font-family: 'LCDFontFamily';
  src: url('./assets//LCDM2N__.TTF') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html, body {
 width: 100vw;
 height: 100vh;
}

#App {
  background: rgb(206, 227, 245);
  width: 100vw;
  height: 100vh;
  padding: 1px;
}


#calculator {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(0, 0, 0);
  width: 412px;
  height: 600px;
  margin: calc(50vh - 300px) auto;
}
#display {
  background-color: rgb(4, 29, 32);
  width: 400px;
  height: 194px;
  margin: 6px 6px 0 6px;
  font-family: 'LCDFontFamily'; 
  color: white;
  font-size: 2rem;
  text-align: right;
  display: flex;
  flex-flow: column nowrap;
}
#input, #output {
  width: calc(100% - 4px);
  display: block;
  margin: 2px;
  border: 1px rgba(253, 253, 0, 0.01) solid;
  overflow: hidden;
}
#input {
  font-size: 24px;
  color: rgb(230, 250, 94);
  height: 45%;
}
#output {
  font-size: 40px;
  height: 55%
}
#author {
  margin: calc(-50vh + 310px) auto;
  width: fit-content;
  font-family: 'Quicksand', sans;
  font-weight: 1000; 
  text-align: center;
}
#buttons {
  width: 400px;
  height: 500px;
  margin: 6px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

button {
  width: 100px;
  height: 100px;
  background-color: rgb(93, 114, 114);
  border: none;
  border-radius: 50px;
  font-size: 2rem;
  color: white;
  font-family: 'Quicksand', sans;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  border: 1px outset;
}
#clear, #zero {
  width: 200px;
}
#equals {
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#clear {
  background-color: rgb(223, 80, 80);
}
#equals {
  background-color: rgb(72, 141, 219);
}
#divide, #multiply, #substruct, #add {
  background-color: rgb(89, 110, 136);
}